@import 'fonts';

p {
  font-family: $fMed;
  text-align: justify;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $fBlack;
}

a {
  font-family: $fLight;
}

img {
  width:450px;
}

.logo {
  img {
    height: 50px!important;
    width: 50px!important;
  }

  p {
    font-size: 12px;
    line-height: 24px;
    max-width: 300px;
  }
}

.sub-text {
  p {
    opacity: 0.8;
  }
}
.title-text {
  align-items: center;
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  p {
    font-size: 24px;
  }
}

@media (max-width: 991px) {
  img {
    width: 340px;
  }
  p {
    font-size: 15px;
    line-height: 2rem;
  }

  .title-text {
    display: block;
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.5rem;
    }
    p {
      font-size: 20px;
    }
  }
}

@media (min-width: 991px) {
  .main-page {
    height: 100vh !important;
  }
  .sub-text {
    position: absolute; bottom: 3rem
  }
}
